{{ define "main" }}
<div class="container">
  <div class="left"></div>
  <div class="main">
    <article class="article">
      <div class="date">
          <time>{{ with site.Params.DateForm }}{{ .Date.Format . }}{{ else }}{{ .Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
      </div>
      <div class="article-heading">
        <h1 class="article-title">{{ .Title }}</h1>
        <div class="tags">
          {{ range (.GetTerms "tags")}}
            <div class="tag">
                <a href="{{.RelPermalink}}">{{.LinkTitle}}</a>
            </div>
          {{ end }}
        </div>
      </div>
      <div class="article-body">{{ .Content }}</div>
    </article>
  </div>
  <div class="right"></div>
</div>
{{ end }}
